*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 1rem;
  margin: 0;
  text-align: justify;
}

main {
  width: 80%;
  max-width: 700px;
  margin: 0 auto;
}

.bold {
  font-weight: bold;
}

h3 {
  text-align: center;
}

section {
  margin-top: 50px;
}
