.lesson__card {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  background-color: #f9f9f9;
  overflow: hidden;
}

.lesson__card__title {
  background-color: rgba(133, 8, 133, 0.784);
  border-radius: 8px 8px 0 0;
  color: white;
  padding: 10px;
  font-weight: 500;
  margin: 0;
  cursor: pointer;
}

.lesson__notes {
  font-size: 0.8em;
  padding: 15px;
  display: none;
}

.lesson__card .lesson__notes.show {
  display: block;
}
